@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans&family=Open+Sans:wght@300&family=Overpass:wght@900&family=Ubuntu:wght@700&display=swap');

body {
  background-color: #000000;
  color: #fff;
}

.siteHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainNavBar {
  background-color: black;
  color: white;
}

#footer {
  background-color: black;
  color: white;
}


.logoImage {
  margin: 0 10px 6px 0;
}